{% extends 'store/main.html' %}
{% load static %}
{% load filters %}

{% block content %}
    {% csrf_token %}
    <br>
    <div class="row">
        <div class="col-md-7 m-auto">
            <div class="box-element">
                <div id="personalInfoForm">
                    <h5>AI have generated some music for you</h5>
                    <hr>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="license" class="form-label" style="display: block">Choose instrument</label>
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" style="width: 300px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span id="selected_instrument">{{ first_instrument.name }}</span>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <input type="hidden" id="instrument_id" name="instrument_id" value="{{ first_instrument.id }}"/>
                                  {% for audio in audios %}
                                  <button type="button" class="dropdown-item" onclick="instrumentChosen({{ audio.instrument.id }}, '{{  audio.instrument.name }}')">{{ audio.instrument.name }}</button>
                                  {% endfor %}
                              </div>
                            </div>
                        </div>
                    </div>

                    {% for audio in audios %}
                        <div id="player_{{ audio.instrument.id }}" class="audio-player-container" style="opacity: 1" hidden>
                            <button id="play-icon"></button>
                            <span id="time" class="time">0:00</span>
                            <input type="range" id="seek-slider" max="100" value="0">
                            <audio src="{% static audio.file %}" preload="metadata" loop></audio>
                        </div>
                    {% endfor %}

                </div>
                <br>
                <input id="accept" class="btn btn-outline-info  btn-sm btn-block" href="" value="Accept" />
                <input id="try_again" class="btn btn-outline-info  btn-sm btn-block" href="" value="Try again" />
            </div>
        </div>
    </div>

    <script type="module" src="{% static 'scripts/audio_player.js' %}"></script>
    <script>
        function instrumentChosen(instrumentId, instrumentName) {
            document.getElementById('instrument_id').value = instrumentId;
            document.getElementById('selected_instrument').innerHTML = instrumentName;
            managePlayersVisibility(instrumentId)
        }

        function managePlayersVisibility(selectedInstrumentId) {
            let players = document.getElementsByClassName("audio-player-container")
            for(let player of players) {
                if(player.id == 'player_' + selectedInstrumentId) {
                    player.removeAttribute('hidden');
                } else {
                    player.setAttribute('hidden', '');
                }
            }
        }
        /*function genreChosen(genreId, genreName) {
            document.getElementById('genre_id').value = genreId;
            document.getElementById('selected_genre_name').innerHTML = genreName;
        }

        let orderForm = document.getElementById("order_form");

        orderForm.addEventListener('submit', async function(e) {
            e.preventDefault();

            let orderData = {
                "project" : orderForm.project.value,
                "genre_id": orderForm.genre_id.value,
                "is_premium": orderForm.premium.value == 'on'
            };

            await fetch('/ai_generate/',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrftoken,
                },
                body: JSON.stringify(orderData),
            })
        });*/
    </script>
{% endblock content %}
