{% extends 'store/main.html' %}
{% load static %}
{% load filters %}

{% block content %}
    {% csrf_token %}
    <br>
    <form id="order_form">
        <div class="row">
            <div class="col-md-7 m-auto">
                <div class="box-element">
                    <div id="personalInfoForm">
                        <h5>Order to AI</h5>
                        <hr>

                        <div class="form-group">
                            <label for="topic">Project</label>
                            <input type="text" class="form-control" name="project" placeholder="Project name" required>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="license" class="form-label" style="display: block">Choose genre</label>
                                <div class="dropdown">
                                  <button class="btn btn-secondary dropdown-toggle" style="width: 300px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <span id="selected_genre_name">No matter</span>
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <input type="hidden" name="genre_id" id="genre_id" value="0"/>
                                      {% for genre in genres %}
                                      <button type="button" class="dropdown-item" onclick="genreChosen({{ genre.id }}, '{{ genre.name }}')">{{ genre.name }}</button>
                                      {% endfor %}
                                  </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <div class="mb-3">
                                    <label for="license" class="form-label" style="display: block">Choose license type</label>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary active" style="width: 150px" name="license">
                                            <input type="radio" name="standard" id="standard" checked> Standard
                                        </label>
                                        <label class="btn btn-secondary" style="width: 150px" >
                                          <input type="radio" name="premium"  id="premium"> Premium
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <br>
                    <input type="submit" id="submit" class="btn btn-outline-info  btn-sm btn-block" href="" value="Create music" />
                </div>
            </div>
        </div>
    </form>

    <script>

        function genreChosen(genreId, genreName) {
            document.getElementById('genre_id').value = genreId;
            document.getElementById('selected_genre_name').innerHTML = genreName;
        }

        let orderForm = document.getElementById("order_form");

        orderForm.addEventListener('submit', async function(e) {
            e.preventDefault();

            let orderData = {
                "project" : orderForm.project.value,
                "genre_id": orderForm.genre_id.value,
                "is_premium": orderForm.premium.value == 'on'
            };

            await fetch('/ai_generate/',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrftoken,
                },
                body: JSON.stringify(orderData),
            })

            document.location = "{% url 'my_freelance' %}"
        });
    </script>
{% endblock content %}
