<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prepay</title>
</head>
    <body id="liqpay_hold"></body>
    <script src="//static.liqpay.ua/libjs/checkout.js"></script>
    <script>
        LiqPayCheckout.init({
            data: "{{ data }}",
            signature: "{{ signature }}",
            embedTo: "#liqpay_hold",
            language: "en",
            mode: "embed"
        }).on("liqpay.callback", function(data){
            console.log(data);
            console.log('Status:', data.status);

            if(data.status == "success") {
                window.location.href = "{% url 'my_orders' %}"
            }
        }).on("liqpay.ready", function(data){
            //embedded
        }).on("liqpay.close", function(data){
            // close
        });
    </script>
</html>