{% extends 'store/main.html' %}
{% load static %}

{% block content %}
    {% csrf_token %}
    <br>
    <div class="row">
        <div class="col-md-5">
            <div class="box-element">
                <h5>Profile</h5>
                <hr>
                <div onclick="photoChange()" class="profilepic">
                    <img id="profile-icon" class="profilepic__image" src="{{ client.image_url|default:'../images/profile.png' }}" width="150" height="150" alt="Profibild" />
                    <input type="file" id="file-selector" accept="image/*" hidden>
                    <div class="profilepic__content">
                        <span class="profilepic__icon"><i class="fas fa-camera"></i></span>
                        <span class="profilepic__text">Edit Profile</span>
                    </div>
                </div>
                <br>
                <form id="profileForm">
                    <div class="form-group row">
                        <label for="profileUsername" class="col-sm-3 col-form-label">Username</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" style="background: white" name="profileName" value="{{ client.name|default:'example' }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="profileEmail" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="profileEmail" value="{{ client.email|default:'email@example.com' }}">
                        </div>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-outline-info  btn-sm btn-block" value="Save changes"/>
                </form>
            </div>
        </div>

        {% if is_composer == False %}
            <div class="col-md-7">
                <div class="box-element">
                    <form id="personalInfoForm">
                        <h5>Personal Information</h5>
                        <hr>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First name</label>
                                <input type="text" class="form-control" name="firstName" placeholder="First name" value="{{ request.user.customer.personaldata.first_name }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastName">Last name</label>
                                <input type="text" class="form-control" name="lastName" placeholder="Last name" value="{{ request.user.customer.personaldata.last_name }}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                  <label for="profileCountry">Country</label>
                                  <input type="text" class="form-control" name="profileCountry" placeholder="Country" value="{{ request.user.customer.personaldata.country }}">
                            </div>
                            <div class="form-group col-md-6">
                                  <label for="profileCity">City</label>
                                  <input type="text" class="form-control" name="profileCity" placeholder="City" value="{{ request.user.customer.personaldata.city }}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="profilePhone">Phone</label>
                                <input type="text" class="form-control" name="profilePhone" placeholder="Phone" value="{{ request.user.customer.personaldata.phone }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="profileIndex">Index</label>
                                <input type="text" class="form-control" name="profileIndex" placeholder="Index" value="{{ request.user.customer.personaldata.index }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="profileAddress">Address</label>
                            <input type="text" class="form-control" name="profileAddress" placeholder="1234 Main St" value="{{ request.user.customer.personaldata.address }}">
                        </div>
                        <br>
                        <input type="submit" class="btn btn-outline-info  btn-sm btn-block" href="" value="Save changes" />
                    </form>
                </div>
            </div>
        {% else %}
            <div class="col-md-7">
                <div class="box-element">
                    <form id="composerForm">
                        <h5>Personal Information</h5>
                        <hr>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First name</label>
                                <input type="text" class="form-control" name="firstName" placeholder="First name" value="{{ request.user.composer.first_name }}">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastName">Last name</label>
                                <input type="text" class="form-control" name="lastName" placeholder="Last name" value="{{ request.user.composer.last_name }}">
                            </div>
                        </div>
                        <br>
                        <input type="submit" class="btn btn-outline-info  btn-sm btn-block" href="" value="Save changes" />
                    </form>
                </div>

                <br>
                <div class="box-element">
                    <h5>Rating</h5>
                    <hr>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <span class="heading-rating">{{ client.rating|floatformat:1 }}</span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="box-element">
                    <div class="form-row mb-0">
                        <div class="form-group col-md-3 mb-0">
                        <h5>Balance: ${{ client.balance|floatformat:1 }}</h5>
                        </div>
                        <div class="form-group col-md-9 mb-0">
                        <input type="submit" class="btn btn-success btn-block btn-sm" href="" value="Withdraw" />
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <script>

        function photoChange(e) {
            let input = document.getElementById('file-selector');

            input.onchange = e => {
                let image = document.getElementById('profile-icon');
	            image.src = URL.createObjectURL(e.target.files[0]);

                let formData = new FormData();
                formData.append("profile_image", e.target.files[0]);

                fetch('/upload_profile_image/', { method: "POST", body: formData });
            }

            input.click();
        }

        let formProfile = document.getElementById("profileForm");

        formProfile.addEventListener('submit', function(e) {
            e.preventDefault();

            let profileData = {
                'profileName': formProfile.profileName.value,
                'profileEmail': formProfile.profileEmail.value
            };

            fetch('/profile_save/',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify(profileData)
            })
        });

        {% if not is_composer %}
            let formPersonalInfo = document.getElementById("personalInfoForm");

            formPersonalInfo.addEventListener('submit', function(e) {
                e.preventDefault();

                let personalInfoData = {
                    'firstName': formPersonalInfo.firstName.value,
                    'lastName': formPersonalInfo.lastName.value,
                    'profileCountry': formPersonalInfo.profileCountry.value,
                    'profileCity': formPersonalInfo.profileCity.value,
                    'profilePhone': formPersonalInfo.profilePhone.value,
                    'profileIndex': formPersonalInfo.profileIndex.value,
                    'profileAddress': formPersonalInfo.profileAddress.value,
                };

                fetch('/personalinfo_save/',{
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json',
                        'X-CSRFToken':csrftoken,
                    },
                    body:JSON.stringify(personalInfoData)
                })
            });
        {% else %}
            let composerForm = document.getElementById("composerForm");

            composerForm.addEventListener('submit', function(e) {
                e.preventDefault();

                let composerInfoData = {
                    'firstName': composerForm.firstName.value,
                    'lastName': composerForm.lastName.value,
                };

                fetch('/personalinfo_save/',{
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json',
                        'X-CSRFToken':csrftoken,
                    },
                    body:JSON.stringify(composerInfoData)
                })
            });

            let stars = document.getElementsByClassName("fa-star");
            for(let i = 0; i < Math.round({{ client.rating }}); i++) {
                stars[i].classList.add("checked")
            }

        {% endif %}
    </script>
{% endblock content %}
