{% extends 'store/base_sign.html' %}
{% block content %}
{% load i18n %}

<div class="header-bar">
    <h1>{% translate 'Register' %}</h1>
</div>

<div class="card-body">
        <div class="btn-group btn-group-toggle btn-block mb-3" data-toggle="buttons">
            <label class="btn btn-secondary {% if active_form == 'customer' %}active{% endif %}">
                <input type="radio" name="options" id="customer" onchange="processView(this.id)" {% if active_form == 'customer' %} checked {% endif %}">{% translate 'Customer' %}
            </label>
            <label class="btn btn-secondary {% if active_form == 'composer' %}active{% endif %}">
                <input type="radio" name="options" id="composer" onchange="processView(this.id)" {% if active_form == 'composer' %} checked {% endif %}">{% translate 'Composer' %}
            </label>
        </div>

    <form id="customer-form" method="POST" {% if active_form == 'composer' %} hidden {% endif %}>
        {% csrf_token %}
        <input type="hidden" name="type" value="customer">

        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user form"></i></span>
            </div>
            {{ customer_form.username }}
        </div>
        {% if customer_form.errors.username != None %}
        <div class="alert alert-danger" role="alert">{{ customer_form.errors.username }}</div>
        {% endif %}

        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
            </div>
            {{ customer_form.email }}
        </div>
        {% if customer_form.errors.email != None %}
        <div class="alert alert-danger" role="alert">{{ customer_form.errors.email }}</div>
        {% endif %}

        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            {{ customer_form.password1 }}
        </div>
        {% if customer_form.errors.password1 != None %}
        <div class="alert alert-danger" role="alert">{{ customer_form.errors.password1 }}</div>
        {% endif %}

        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            {{ customer_form.password2 }}
        </div>
        {% if customer_form.errors.password2 != None %}
        <div class="alert alert-danger" role="alert">{{ customer_form.errors.password2 }}</div>
        {% endif %}

        <input style="margin-top:10px ;" class="button" type="submit" value="{% translate 'Register' %}">
    </form>

    <form id="composer-form" method="POST" {% if active_form == 'customer' %} hidden {% endif %}>
        {% csrf_token %}
        <input type="hidden" name="type" value="composer">

        <div class="input-group mb-3">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user form"></i></span>
            </div>
            {{ composer_form.username }}
        </div>
        {% if composer_form.errors.username != None %}
        <div class="alert alert-danger" role="alert">{{ composer_form.errors.username }}</div>
        {% endif %}

        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
            </div>
            {{ composer_form.email }}
        </div>
        {% if composer_form.errors.email != None %}
        <div class="alert alert-danger" role="alert">{{ composer_form.errors.email }}</div>
        {% endif %}

        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user form"></i></span>
            </div>
            {{ composer_form.first_name }}
        </div>
        {% if composer_form.errors.first_name != None %}
        <div class="alert alert-danger" role="alert">{{ composer_form.errors.first_name }}</div>
        {% endif %}

        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user form"></i></span>
            </div>
            {{ composer_form.last_name }}
        </div>
        {% if composer_form.errors.last_name != None %}
        <div class="alert alert-danger" role="alert">{{ composer_form.errors.last_name }}</div>
        {% endif %}

        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            {{ composer_form.password1 }}
        </div>
        {% if composer_form.errors.password1 != None %}
        <div class="alert alert-danger" role="alert">{{ composer_form.errors.password1 }}</div>
        {% endif %}

        <div class="input-group mb-2">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            {{ composer_form.password2 }}
        </div>
        {% if composer_form.errors.password2 != None %}
        <div class="alert alert-danger" role="alert">{{ composer_form.errors.password2 }}</div>
        {% endif %}

        <input style="margin-top:10px ;" class="button" type="submit" value="{% translate 'Register' %}">
    </form>
    <p>{% translate 'Already have an account' %}? <a href="{% url 'login' %}">{% translate 'Login' %}</a></p>
</div>


<script>
    function processView(id) {
        document.getElementById('customer-form').setAttribute('hidden', '');
        document.getElementById('composer-form').setAttribute('hidden', '');

        if(id === 'customer')
            document.getElementById('customer-form').removeAttribute('hidden');
        else
            document.getElementById('composer-form').removeAttribute('hidden');
    }

    var customer_form = document.getElementById('customer-form');
    var customer_form_fields = customer_form.querySelectorAll('input')

    customer_form_fields[2].placeholder="{% translate 'Username..' %}";
    customer_form_fields[3].placeholder="{% translate 'Email..' %}";
    customer_form_fields[4].placeholder="{% translate 'Enter password...' %}";
    customer_form_fields[5].placeholder="{% translate 'Re-enter Password...' %}";

    for (var field in customer_form_fields){
        customer_form_fields[field].className += ' form-control'
    }

    var composer_form = document.getElementById('composer-form');
    var composer_form_fields = composer_form.querySelectorAll('input')

    composer_form_fields[2].placeholder="{% translate 'Username..' %}";
    composer_form_fields[3].placeholder="{% translate 'Email..' %}";
    composer_form_fields[4].placeholder="{% translate 'First name..' %}";
    composer_form_fields[5].placeholder="{% translate 'Last name..' %}";
    composer_form_fields[6].placeholder="{% translate 'Enter password...' %}";
    composer_form_fields[7].placeholder="{% translate 'Re-enter Password...' %}";

    for (var field in composer_form_fields){
        composer_form_fields[field].className += ' form-control'
    }

</script>

{% endblock content %}

{% comment %}
<!DOCTYPE html>
<html>

<head>
	<title>Sign up</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

	<style>
		body,
		html {
			margin: 0;
			padding: 0;
            background-color: hsl(0, 0%, 98%);
			height: 100%;
		}
		.user_card {
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: rgba(0, 125, 181, 0.93);
		}
		.login_btn {
			width: 100%;
			background: #11cbd3 !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #11cbd3 !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

	</style>

</head>
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">REGISTER ACCOUNT</h3>
				</div>
				<div class="d-flex justify-content-center form_container">

					<form method="POST" action="">
                        {% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
                            {{ form.username }}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
							</div>
                            {{ form.email }}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{ form.password1 }}
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{ form.password2 }}
						</div>

				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn login_btn" type="submit" value="Register Account">
				   		</div>
					</form>
				</div>

                {{ form.errors }}

				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
        var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='Email..';
		form_fields[3].placeholder='Enter password...';
		form_fields[4].placeholder='Re-enter Password...';


		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
	</script>
</body>
</html>
{% endcomment %}
